@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #0F172A;
  --foreground: #F8FAFC;
  --primary: #2563EB;
  --accent: #1E40AF;
}

body {
  color: var(--foreground);
  background: var(--background);
}
